/* navigation bar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
  background-color: var(--background);
  width: 100%;
  z-index: 2;
}
.navBarContainer {
  composes: container from "@/styles/utils.module.css";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBarContainer img:hover {
  opacity: 90%;
  transition: 0.3s;
}
/* end */

/* mobile navigation */
.mobileNavButton {
  background: transparent;
}
.mobileNavMenu {
  --borderColor: rgba(228, 228, 228, 0.3);
  background-color: var(--background);
  position: absolute;
  top: 4.3em;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--borderColor);
  box-shadow: 0 6px 50px -5px rgba(0, 0, 0, 0.5);
  transform-origin: top center;
  transform: rotateX(-90deg);
  opacity: 0.3;
  visibility: hidden;
  transition: var(--transition);
}
.mobileNavMenu.showMenu {
  opacity: 1;
  transform: rotateX(0);
  visibility: visible;
}
.mobileNavList {
  color: var(--light-text);
}
.mobileNavItem {
  font-size: 1.4rem;
  font-family: inherit;
  text-align: right;
  padding: 1em;
  padding-right: 0;
  border-bottom: 1px solid var(--borderColor);
  position: relative;
}
.mobileNavItemContainer {
  composes: container from "@/styles/utils.module.css";
}
.mobileNavItem a {
  color: var(--light-text);
  width: 100%;
}
.mobileNavItem a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mobileNavItem:last-of-type a {
  color: var(--primary);
}
.mobileNavItem a:focus,
.mobileNavItem a:active {
  color: var(--primary);
}
/* end */

/* desktop navigation */
.navDesktop {
  color: var(--light-text);
  display: none;
}
.navDesktopMenu {
  display: flex;
}
.navDesktopItem a {
  color: var(--light-text);
  transition: 0.3s;
}
.navDesktopItem:last-of-type a {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0.35em;
}
.navDesktopItem a:hover,
.navDesktopItem a:focus,
.navDesktopItem a:active {
  color: var(--primary);
}
.navDesktopItem:last-of-type a:hover,
.navDesktopItem:last-of-type a:focus {
  color: var(--secondary);
  background-color: var(--primary);
}
.navDesktopItem:not(:last-of-type) {
  margin-right: 1.6rem;
}
/* end */

/* screen greater than 768 */
@media screen and (min-width: 768px) {
  .mobileNavMenu {
    display: none;
  }
  .mobileNav {
    display: none;
  }
  .mobileNavButton {
    display: none;
  }
  .navDesktop {
    display: block;
  }
}
